**/.git
**/.gitignore
**/.dockerignore
**/.vscode
**/.idea
**/coverage
**/venv
**/env
**/.env
**/.aws
**/.ssh
**/*.md
**/*.pyc
**/*.pyo
**/__pycache__/
**/.env.local
Dockerfile
docker-compose.yml
docker-compose.override.yaml